### How to connect to a Database using Python

#### First, the imports!

In [ ]:
# !pip install SQLAlchemy
# !pip install psycopg2
# !pip install psycopg2-binary

In [1]:
from sqlalchemy import create_engine
import pandas as pd
import os

#### Create a db connection

In [2]:
USERNAME = 'postgres'
PASSWORD = 'postgres'
HOST = 'localhost' #127.0.0.1 --- but this could equally be AWS RDS - amazongalgldsalkdsa
PORT = '5432'
DBNAME = 'movies'
conn_string = f'postgres://{USERNAME}:{PASSWORD}@{HOST}:{PORT}/{DBNAME}'
conn_string_short = f'postgres://{HOST}:{PORT}/{DBNAME}'

In [3]:
db = create_engine(conn_string)

In [ ]:
db

#### Write csvs to disk - (maybe already done?)

#### Query disk

In [ ]:
#sql command - written in sql
query = input()

In [ ]:
#query to the db - read or write
results = db.execute(query)

In [ ]:
class ResultQuery:
    
    def __repr__(self):
        pass

In [ ]:
results

In [ ]:
#displaying the results of that query, plus doing stuff with the results
list_of_results = results.fetchall()

In [ ]:
list_of_results

In [ ]:
pd.DataFrame(list_of_results).set_index(0)

In [ ]:
iter(list_of_results)

In [ ]:
list_of_results  = iterable + iterator

In [ ]:
def generator_function(): #write your own generator, or just copy someones from stackoverflow
    
    yield x

---

#### Advanced SQLAlchemy - the ORM part! declarative base, sessionmaker, python Queries

In [13]:
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker
from sqlalchemy import MetaData, Table, create_engine, and_, or_, not_

In [ ]:
#declarative base - a storage section for metainformation - classes, columns names
#sesssionmaker - system which opens a  pipe which connects python to postgres, stores queries (buffer), 
#fires queries down the pipe, closes the pipe at the end

In [15]:
base = declarative_base(db)
Session = sessionmaker(db)
session = Session()

### Now read the tables into RAM using the Table class

In [19]:
Ratings = Table('ratings',base.metadata, autoload=True)
Movies = Table('movies',base.metadata, autoload=True)
Links = Table('links',base.metadata, autoload=True)
Tags = Table('tags',base.metadata, autoload=True)

In [21]:
Ratings

Table('ratings', MetaData(bind=Engine(postgres://postgres:***@localhost:5432/movies)), Column('index', BIGINT(), table=<ratings>), Column('userId', BIGINT(), table=<ratings>), Column('movieId', BIGINT(), table=<ratings>), Column('rating', DOUBLE_PRECISION(precision=53), table=<ratings>), Column('timestamp', BIGINT(), table=<ratings>), schema=None)

### N.b There is metadata in the base.metadata attribute ONLY AFTER you have instantiated the Tables! 
#### But now we can see information about the tables in SQLAlchemy

In [22]:
base.metadata.tables.keys()

dict_keys(['ratings', 'movies', 'links', 'tags'])

In [24]:
base.metadata.tables['movies'].columns.values()

[Column('index', BIGINT(), table=<movies>),
 Column('movieId', BIGINT(), table=<movies>),
 Column('title', TEXT(), table=<movies>),
 Column('genres', TEXT(), table=<movies>)]

### We have everything we need in memory, and now we can query them without reading from disk

select * from movies limit 5;

In [27]:
session.query(Movies).limit(5).all()

[(0, 1, 'Toy Story (1995)', 'Adventure|Animation|Children|Comedy|Fantasy'),
 (1, 2, 'Jumanji (1995)', 'Adventure|Children|Fantasy'),
 (2, 3, 'Grumpier Old Men (1995)', 'Comedy|Romance'),
 (3, 4, 'Waiting to Exhale (1995)', 'Comedy|Drama|Romance'),
 (4, 5, 'Father of the Bride Part II (1995)', 'Comedy')]

select * from movies where movies."title" == 'Jumanji (1995)';

In [31]:
session.query(Movies).filter(Movies.columns.title == 'Jumanji (1995)').all()

[(1, 2, 'Jumanji (1995)', 'Adventure|Children|Fantasy')]

#### And a join!
select * from movies join ratings on movies.movieId = ratings.movieId limit 5;

In [36]:
session.query(Movies).join(Ratings, Movies.columns.movieId == Ratings.columns.movieId).limit(10).all()

[(0, 1, 'Toy Story (1995)', 'Adventure|Animation|Children|Comedy|Fantasy'),
 (2, 3, 'Grumpier Old Men (1995)', 'Comedy|Romance'),
 (5, 6, 'Heat (1995)', 'Action|Crime|Thriller'),
 (43, 47, 'Seven (a.k.a. Se7en) (1995)', 'Mystery|Thriller'),
 (46, 50, 'Usual Suspects, The (1995)', 'Crime|Mystery|Thriller'),
 (62, 70, 'From Dusk Till Dawn (1996)', 'Action|Comedy|Horror|Thriller'),
 (89, 101, 'Bottle Rocket (1996)', 'Adventure|Comedy|Crime|Romance'),
 (97, 110, 'Braveheart (1995)', 'Action|Drama|War'),
 (124, 151, 'Rob Roy (1995)', 'Action|Drama|Romance|War'),
 (130, 157, 'Canadian Bacon (1995)', 'Comedy|War')]

---

### Further reading - Flask dedicated SQLAlchemy

`https://flask-sqlalchemy.palletsprojects.com/en/2.x/`