### How to connect to a Database using Python

#### First, the imports!

In [1]:
!pip install SQLAlchemy
!pip install psycopg2
!pip install psycopg2-binary

Requirement already satisfied: SQLAlchemy in c:\users\casti\appdata\local\continuum\anaconda3\lib\site-packages (1.3.9)
Requirement already satisfied: psycopg2 in c:\users\casti\appdata\local\continuum\anaconda3\lib\site-packages (2.8.4)
Requirement already satisfied: psycopg2-binary in c:\users\casti\appdata\local\continuum\anaconda3\lib\site-packages (2.8.4)

In [2]:
from sqlalchemy import create_engine
import pandas as pd
import os

#### Create a db connection

In [3]:
USERNAME = 'postgres'
PASSWORD = 'postgres'
HOST = 'localhost'
PORT = '5432'
DBNAME = 'movies'
conn_string = f'postgres://{USERNAME}:{PASSWORD}@{HOST}:{PORT}/{DBNAME}'
conn_string_short = f'postgres://{HOST}:{PORT}/{DBNAME}'

In [4]:
db = create_engine(conn_string)

In [5]:
db

Engine(postgres://postgres:***@localhost:5432/movies)

#### Write csvs to disk - (maybe already done?)

#### Query disk

In [6]:
#sql command - written in sql
query=input()

select * from movies limit 5;

In [7]:
#query to the db
results = db.execute(query)

In [8]:
results

In [9]:
list_of_results = results.fetchall()

In [10]:
#displaying the results of that query, plus doing stuff with the results

In [11]:
list_of_results

[(1, 'Toy Story (1995)', 'Adventure|Animation|Children|Comedy|Fantasy'),
 (2, 'Jumanji (1995)', 'Adventure|Children|Fantasy'),
 (3, 'Grumpier Old Men (1995)', 'Comedy|Romance'),
 (4, 'Waiting to Exhale (1995)', 'Comedy|Drama|Romance'),
 (5, 'Father of the Bride Part II (1995)', 'Comedy')]

In [12]:
pd.DataFrame(list_of_results)

,0,1,2
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [13]:
iter(list_of_results)

In [14]:
#list_of_results = iterable + iterator

In [15]:
def generator_function():
    
    yield x

#### Advanced SQLAlchemy - the ORM part! declarative base, sessionmaker, python Queries

In [16]:
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker
from sqlalchemy import MetaData, Table, create_engine, and_, or_, not_

In [21]:
base = declarative_base(db)
Session = sessionmaker(db)
session = Session()
metadata = base.metadata

In [24]:
base.metadata.tables.keys()

dict_keys([])

In [27]:
Ratings = Table('ratings1', base.metadata, autoload = True)
Movies = Table('movies', base.metadata, autoload = True)
Links = Table('links', base.metadata, autoload=True)
Tags = Table('tabs', base.metadata, autoload=True)

In [28]:
Ratings

Table('ratings1', MetaData(bind=Engine(postgres://postgres:***@localhost:5432/movies)), Column('userid', INTEGER(), table=<ratings1>), Column('movieid', INTEGER(), table=<ratings1>), Column('rating', REAL(), table=<ratings1>), Column('timestamp1', INTEGER(), table=<ratings1>), schema=None)

In [29]:
base.metadata.tables.keys()

dict_keys(['ratings1', 'movies', 'links', 'tabs'])

In [30]:
base.metadata.tables['movies'].columns.values()

[Column('movieid', INTEGER(), table=<movies>),
 Column('title', VARCHAR(length=500), table=<movies>),
 Column('genres', VARCHAR(length=500), table=<movies>)]

In [34]:
select * from movies limit 5;

SyntaxError: invalid syntax (<ipython-input-34-9852882acfe4>, line 1)

In [35]:
session.query(Movies).limit(5).all()

[(1, 'Toy Story (1995)', 'Adventure|Animation|Children|Comedy|Fantasy'),
 (2, 'Jumanji (1995)', 'Adventure|Children|Fantasy'),
 (3, 'Grumpier Old Men (1995)', 'Comedy|Romance'),
 (4, 'Waiting to Exhale (1995)', 'Comedy|Drama|Romance'),
 (5, 'Father of the Bride Part II (1995)', 'Comedy')]

---

### Further reading - Flask dedicated SQLAlchemy

`https://flask-sqlalchemy.palletsprojects.com/en/2.x/`